<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="keywords" content="데브파이브 프론트시스템,웹개발,개발자,소프트웨어,앱,앱 개발,데브파이브,SI" />
    <meta name="description" content="데브파이브 프론트시스템은 더 편한 개발을 위해 개발되었습니다." />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="subject" content="<%= VITE_TITLE %>" />
    <meta http-equiv="title" content="<%= VITE_TITLE %>" />
    <meta http-equiv="author" content="<%= VITE_OWNER %>" />
    <meta http-equiv="publisher" content="<%= VITE_OWNER %>" />
    <meta http-equiv="other agent" content="<%= VITE_OWNER %>" />
    <meta http-equiv="generator" content="<%= VITE_OWNER %>" />
    <meta http-equiv="reply-to" content="<%= VITE_EMAIL %>" />
    <meta http-equiv="email" content ="<%= VITE_EMAIL %>" />
    <meta http-equiv="Distribution" content="<%= VITE_OWNER %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= VITE_TITLE %>" />
    <meta property="og:image" content="/favicon.ico" />
    <meta property="og:description" content="데브파이브 프론트시스템은 더 편한 개발을 위해 개발되었습니다." />
    <meta property="og:site_name" content="<%= VITE_TITLE %>" />
    <meta property="og:locale" content="ko_KR" />
    <title><%= VITE_TITLE %></title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>
